body {
  font-family: Arial, sans-serif;
  background-color: #f7f7f7;
  color: #333;
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  padding: 20px;
  background-color: #ffd700;
  color: #333;
}

h1 {
  font-size: 36px;
  margin-bottom: 10px;
}

p {
  font-size: 18px;
}

section {
  margin: 40px;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

footer {
  background-color: #333;
  padding: 20px;
  color: #fff;
  text-align: center;
}

h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

.social-links a {
  display: inline-block;
  width: 100px;
  height: 100px;
  margin: 0 10px;
  border: 2px solid #333;
  border-radius: 5px;
  text-decoration: none;
  text-align: center;
  line-height: 100px;
  color: #333;
  font-size: 24px;
}
